* {
  padding: 0px;
  margin: 0px;
}

.box-shadow {
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.34);
}
.link,
.link:hover {
  text-decoration: none;
}
